.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(70, 69, 69);
}

.Navbar>.navLogo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #ffffff;
    cursor: pointer;
}

.Navbar>.navItems>a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}

.Navbar>.navItems>a:hover {
    opacity: 1;
}

.Navbar>.navItems>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s;
}

.Navbar>.navItems>a:hover::before {
    width: 100%;
}

.Navbar>.navToggle {
    display: none;
}

.logoutBtn {
    background-color: #353538;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
    border: none;
}

button:hover{
    color: #353538;
    background-color: white;
}

@media (max-width: 700px) {

    .Navbar>.navItems {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: rgb(70, 69, 69);
        left: 0;
        width: 30%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
    }

    .Navbar>.navItems>a::before {
        background: transparent;
    }

    .Navbar>.navItems.open {
        transform: translateX(0);
    }

    .Navbar>.navToggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .navToggle>.bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: #ffffff;
        transition: all 0.45s ease-in-out;
    }

    .navToggle>.bar::before,
    .navToggle>.bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }

    .navToggle>.bar::before {
        width: 32px;
        transform: translateY(-8px);
        right: 0;
    }

    .navToggle>.bar::after {
        width: 32px;
        transform: translateY(8px);
    }

    .navToggle.open>.bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .navToggle.open>.bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .navToggle.open>.bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
    }
}